h1,
h2,
h3,
p,
span,
a {
    font-family: sans-serif;
}
h1 {
    margin: 0px;
}
h3 {
    margin: 0 0 5px;
}
body {
    padding: 40px 0 80px;
    background: #efefef;
    font-family: sans-serif;
}

.wrap {
    max-width: 900px;
    margin: auto;
    padding: 0 30px;
}
#bowling-score {
    margin: 20px 0;
}
#info-wrap {
    margin-bottom: 30px;
}
.card {
    background: white;
    padding: 20px 15px;
    border: 2px solid #80808038;
    margin-bottom: 20px;
}
.square {
    height: 50px;
    width: 50px;
    background: white;
    border: .5px solid;
    position: relative;
    display: inline-block;
    margin-top: 25px;
}
.frames {
    position: absolute;
    top: -25px;
    background: black;
    color: white;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1px 0;
    border: .5px solid black;
    left: -.5px;
}
.little-square {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.little-square.left {
    top: 0px;
    left: 1px;
}
.little-square.right {
    background: #efefef;
    top: 0px;
    right: 1px;
}
.wide-square {
    position: absolute;
    height: 24px;
    width: 100%;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
* Frame 10 handling
*/
div#frame-10 {
    width: 75px;
}
#frame-10 .little-square.middle {
    background: #e6e6e6;
    left: 24px;
}

a.btn {
    background: transparent;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 43px;
    width: 143px;
    text-align: center;
    border: 2px solid black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
a.btn:hover {
    background: black;
    color: white;
    transition: .5s;
}
.dice {
    border: 1px solid black;
    max-width: 64px;
    margin: 5px;
}

@media screen and (max-width: 800px) {
    .dice {
        max-width: 50px;
    }
}