h1,
h2,
h3,
p,
span,
a {
    font-family: sans-serif;
}

body {
    padding: 160px 0;
    background: #efefef;
}

.wrap {
    max-width: 900px;
    margin: auto;
}
.square {
    height: 50px;
    width: 50px;
    background: white;
    border: .5px solid;
    position: relative;
    display: inline-block;
    margin-top: 25px;
}
.frames {
    position: absolute;
    top: -25px;
    background: black;
    color: white;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1px 0;
    border: .5px solid black;
    left: -.5px;
}
.little-square {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.little-square.left {
    top: 0px;
    left: 1px;
}
.little-square.right {
    background: #efefef;
    top: 0px;
    right: 1px;
}
.wide-square {
    position: absolute;
    height: 24px;
    width: 100%;
    bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
* Frame 10 handling
*/
div#frame-10 {
    width: 75px;
}
#frame-10 .little-square.middle {
    background: #e6e6e6;
    left: 24px;
}

a.btn {
    background: black;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
}
.dice {
    border: 1px solid black;
    max-width: 64px;
    margin: 5px;
}